:root {
    --cor-primaria: #6528d3;
    --cor-primaria-hover: #834de8;
    --cor-secundaria: #4a90e2;
    --cor-fundo: #333;
    --cor-texto: #f5f5f5;
    --cor-cinza-escuro: #29272a;
    --cor-cinza-claro: #ededed;
    --espacamento: 16px;
    --raio-borda: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

